#states {
    width: 700px;
    height: 600px;
    /*background: red;*/
    margin: auto;
    border: 1px;
    border-color: black;
    border-style: solid;
}

#states .info {
    padding: 6px 8px;
    font: 0.7rem Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

#statesmap .info h6 {
    font-size: 1.2rem;
    margin: 0 0 5px;
    color: #777;
}

#states .legend {
    line-height: 18px;
    color: #555;
}

#states .legend i {
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 8px;
    opacity: 0.8;
}